<!DOCTYPE html>
<html data-ng-app="appTippspiel" data-ng-controller="start">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tippspiel Grassertippen</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/grassertippen.css">
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.Grassertippen.js"></script>
</head>
<body onload="load()">
	<div class="page-header">
		<!-- TITLE -->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Tippspiel Grassertippen</h1>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="links.html">Links</a></li>
				<li><a href="about.html">Über uns</a></li>
			</ul>
		</div>
	</nav>


	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div data-ng-repeat="memberSummary in memberSummaries">
					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading">
								<label>{{memberSummary.member.name}}</label> - Gesamtpunktzahl:
								{{memberSummary.score}}
								<button type="button" class="btn btn-info btn-sm"
									data-toggle="collapse" data-target="#demo{{$index + 1}}"
									data-ng-click="showDetails(memberSummary)">Details</button>
							</div>
							<div class="panel-body">
								Gold: <label>{{memberSummary.gold}}</label> Silber: <label>{{memberSummary.silver}}</label>
								Bronze: <label>{{memberSummary.bronze}}</label>
								<div id="demo{{$index + 1}}" class="collapse">
									<table class="table table-hover table-striped">
										<thead>
											<tr>
												<th>Wettbewerb</th>
												<th>Punkte</th>
												<th>Pos</th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="memberDetails in memberDetails">
												<td>{{memberDetails.tournament.descriptionShort}}</td>
												<td>{{memberDetails.score}}</td>
												<td>{{memberDetails.position}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>	

		<!-- FOOTER-->
		<footer id="mainFooter" class="bd-footer text-muted">
	
			<div class="row">
				<div class="col-sm-12">{{tournaments}}</div>
			</div>
			<div class="row">
				<div class="col-sm-12">Berechnungsgrundlage der
					Gesamtpunktzahl: Gold = 5 Punkte|Silber = 3 Punkte|Bronze = 1 Punkt</div>
			</div>
			<div class="row">
				<div id="footerBranding" class="col-sm-12">
					<div>developed by svennetz.de</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>