<div id="tournament-winner-content" class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th class="text-left">Wettbewerb</th>
            <th class="text-center">Sieger</th>
            <th class="text-center">Pkte.</th>
            <th class="text-center">Durchschn.</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tournamentWinner of tournamentWinners | async">
            <td class="text-left">{{tournamentWinner.tournament}}</td>
            <td class="text-center">{{tournamentWinner.winner}}</td>
            <td class="text-center">{{tournamentWinner.result}} ({{tournamentWinner.matchDayVictory}})</td>
            <td class="text-center">{{tournamentWinner.averageAllTippers | number:'1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>