#memberSummaryItem {
    margin: 10px -30px 10px -30px!important;
}

#member {
    font-weight: bold;
}

#score {
    font-weight: bold;
}

#medal {
    font-weight: bold;
}

#status {
    vertical-align: middle!important;
    margin: 0px 0px 0px 4px!important;
}

#dataContent {
    margin: 10px 0px 0px 0px!important;
}

#searchContent {
    padding: 10px 0px 10px 10px!important;
    margin: 10px -15px 0px -15px!important;
    background-color: lightgray;	
	border-radius: 5px;
}

#searchControl {
    margin: 0px -30px 0px 4px!important;
}
