<div class="container">
  <div>
    <nav id="navBar" class="navbar navbar-light bg-light">
      <div class=navbar-nav>
        <ul class="nav nav-pills">
          <a id="navItem" routerLink="" class="nav-item nav-link">Home</a>
          <a id="navItem" routerLink="tournaments" class="nav-item nav-link">Wettbewerbe</a>
          <a id="navItem" routerLink="links" class="nav-item nav-link">Links</a>
          <a id="navItem" routerLink="impressum" class="nav-item nav-link">Impressum</a>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>