#body {
	background-color: #f9f9f9!important;		
}

#header {
	background-color: #940b03!important;
	color: #ffffff!important;	
	margin-left: 10px;	
	margin-right: 10px;
	border-radius: 5px;
}

#search-content {	
	background-color: #c0c0c0!important;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
}

#summary-content {	
	background-color: #c0c0c0!important;
	margin: 10px 0 10px 0;
	padding: 10px 10px 5px 10px;
	border-radius: 5px;
}

#content {
	padding-bottom:30px; /* Height of the footer element */	
}

#footer {
	height:30px;	
	background-color: #f9f9f9 !important;
	position: fixed; 
	padding : 0; bottom : 0; left : 0; right : 0;
	border-style: solid none none none;
	border-width: 1px;
	border-color: #ddd;
}

#footerBranding {
	font-weight: bold;
}

.details-toggle[aria-expanded=false] .details-expanded {
  display: none;
}
.details-toggle[aria-expanded=true] .details-collapsed {
  display: none;
}

.status-toggle[aria-expanded=true] .status-inactive {
  display: none;
}
.status-toggle[aria-expanded=false] .status-active {
  display: none;
}