#content {
padding-bottom:80px; /* Height of the footer element */	
}

#footer {
	height:80px;	
	background-color: #f9f9f9 !important;
	position: fixed; padding : 10px; bottom : 0; left : 0; right : 0;
	border-style: solid none none none;
	border-width: 1px;
	border-color: #ddd;
}

#footerBranding {
	font-weight: bold;
}

.details-toggle[aria-expanded=false] .details-expanded {
  display: none;
}
.details-toggle[aria-expanded=true] .details-collapsed {
  display: none;
}

.status-toggle[aria-expanded=true] .status-inactive {
  display: none;
}
.status-toggle[aria-expanded=false] .status-active {
  display: none;
}