<div>
  <table class="table table-hover table-striped table-sm">
    <thead>
      <tr>
        <th class="text-left">Wettbewerb</th>
        <th class="text-left">Score</th>
        <th class="text-left">T-Siege</th>
        <th class="text-left">Pos.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let memberDetail of memberDetails | async">
        <td class="text-left">{{memberDetail.tournamentDescriptionShort}}</td>
        <td class="text-left">{{memberDetail.score}}</td>
        <td class="text-left">{{memberDetail.matchDayVictory}}</td>
        <td class="text-left">{{memberDetail.position}}</td>
      </tr>
    </tbody>
  </table>
</div>